.container {
  margin: 0 auto;

  border-radius: 0.8vh;
}
.container h1 {
  color: rgba(3, 92, 71, 0.865);
  text-align: center;
}
.card {
  margin: 0 auto 10vh;
  border-radius: 0.8vh;
  padding: 3vh 4vh;
  border: 0.35vh solid white;
  background-color: rgba(215, 251, 249, 0.349);
}
.card button {
  margin-top: 2.5vh;
  padding: 2vh 3vh;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.5vh;
  background: rgba(12, 172, 126, 0.936);
}
.card label {
  font-weight: bold;
  font-size: 3vh;
  margin: 0.5vh 0;
  line-height: 2vh;
  display: inline-block;
}
.card input {
  width: 100%;
  margin: 1vh 0;
  height: 4.5vh;
  border: 0.3vh solid rgba(152, 150, 152, 0.535);
  background: rgba(237, 232, 246, 0.512);
}
.card input:focus {
  outline: none;
  border: 0.5vh rgb(148, 176, 162) solid;
}
