body {
  background: linear-gradient(-45deg, #509156, #f5fac3);
  background-size: 400% 400%;
  height: 100%;
  border: 0.5vh solid white;
  max-width: 100vh;
  padding: 2vh 5vh;
  margin: 0 auto;
  margin-top: 6vh;
}
footer {
  text-align: center;
  display: block;
  padding: 4vh 0 2vh;
  font-size: 2.3vh;
}
footer a {
  text-decoration: none;
  color: rgba(238, 46, 8, 0.676);
  transition: all 200 ease-in-out;
}
footer a:hover {
  text-decoration: none;
  color: rgba(210, 46, 13, 0.851);
}
